@media screen and (min-width : 300px){
    .title{
        font-size: 20px;
        color : red;
    }

}

@media screen and (min-width : 475px){
    .title{
        font-size : 25px;
        color : blue;
    }
}

@media screen and (min-width : 640px){
    .title{
        font-size : 35px;
        color : pink;
    }
}


@media screen and (min-width: 768px){
    .title{
        font-size : 45px;
        
    }
}
@media screen and (min-width : 1024px){
    .title{
        font-size : 50px;
    }
}